<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{ .Name }} - Andy Bright - Portfolio</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page_portfolio-detail">

      <div class="container-fluid bg-primary text-light">
        <div class="container">
          <div class="row pt-5 pb-5">
            <div
              class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start"
            >
              <h1 class="display-4 mb-3">{{ .Name }}</h1>
              <div class="pb-5">{{ .Lead }}</div>
            </div>
            <div class="col-12 col-lg-5 offset-lg-1">
              <img src="{{ .HeroImgRawUrl }}" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid bg-primary-subtle">
        <div class="container">
          <div class="row pt-3 pb-1">
            <div class="col-12 col-sm-3 text-center">
              <h6 class="fst-italic">Client/Company</h6>
              <p>{{ .Meta.Client }}</p>
            </div>
            <div class="col-12 col-sm-3 text-center">
              <h6 class="fst-italic">Role</h6>
              <p>{{ .Meta.Role }}</p>
            </div>
            <div class="col-12 col-sm-3 text-center">
              <h6 class="fst-italic">Duration</h6>
              <p>{{ .Meta.Duration }}</p>
            </div>
            <div class="col-12 col-sm-3 text-center">
              <h6 class="fst-italic">Location</h6>
              <p>{{ .Meta.Location }}</p>
            </div>
          </div>
        </div>
      </div>

      {{ range .Sections }}

      <div class="container mt-5">
        <div class="mt-5">
          {{ if ne .Heading nil }}
          <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
              <h2>{{ .Heading }}</h2>
            </div>
          </div>
          {{ end }}
          {{ range .SubSections }} {{ if eq .Type "textOnly" }}
          <div class="textOnly mt-3">
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">
                <h3>{{ .Heading }}</h3>
              </div>
              <div class="col-12 col-lg-8 offset-lg-2 mt-2">{{ .Content }}</div>
            </div>
          </div>
          {{ end }} {{ if eq .Type "imagesAndText" }}
          <div class="imagesAndText mt-3">
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">
                <h3>{{ .Heading }}</h3>
              </div>
            </div>

            {{ range .Images }}
            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2 mt-4 mb-3">
                <figure class="figure">
                  <img
                    class="figure-img img-fluid border border-secondary-subtle rounded-1"
                    alt=""
                    src="{{ .Url }}"
                  />
                  {{ if .Caption }}<figcaption class="figure-caption">{{ .Caption }}</figcaption>{{ end }}
                </figure>
              </div>
            </div>
            {{ end }}

            <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">
                <div>{{ .Content }}</div>
              </div>
            </div>
          </div>
          {{ end }} {{ if eq .Type "imageGrid" }}

          <div class="subsection">
            <div class="row imageGrid mt-4 mb-3">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-lg-8 offset-lg-2">
                    <h2>{{ .Heading }}</h2>

                    <div>{{ .Content }}</div>
                  </div>
                </div>
              </div>

              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-lg-8 offset-lg-2">
                    {{ range .Images }}
                    <img
                      alt=""
                      class="figure-img img-fluid border border-secondary-subtle rounded-1"
                      src="{{ .Url }}"
                    />
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }} {{ end }}
        </div>
      </div>
      {{ end }}

      <!-- <div class="container pt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2">
            <h4>More Case Studies</h4>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6 col-sm-4 offset-sm-2">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-lg-4">
                  <img src="" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-lg-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href=""> name </a>
                    </h5>
                    <p class="card-text">description</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-lg-4">
                  <img src="" class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-lg-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      <a href=""> name </a>
                    </h5>
                    <p class="card-text">description</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container">
        <div class="row mt-5">
          <div class="col-12 text-center">
            <p class="small">
              By Andy Bright. Built with
              <a href="https://github.com/zowber/zowber-portfolio-go/">Go</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
